.clientBg{
    width: 100%;
    margin: 0;
    /* position: relative; */
}
body {
    margin: 0;
    padding: 0;
    font-family: Inter;
}
.container {
    width: 98%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
hr {
    margin-top: 55px;
}
@media (min-width: 768px) {
    .container {
        width: 90%;
   }
}
@keyframes animate-in-to-left {
    0% {
        transform: translateX(100%);
   }
    100% {
        transform: translateX(0);
   }
}
@keyframes animate-out-to-left {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(-100%);
   }
}
@keyframes animate-in-to-right {
    0% {
        transform: translateX(-100%);
   }
    100% {
        transform: translateX(0);
   }
}
@keyframes animate-out-to-right {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(100%);
   }
}
.enter-to-left {
    animation: animate-in-to-left 600ms;
}
.exit-to-left {
    animation: animate-out-to-left 600ms;
}
.exit-to-left .carousel-caption {
    opacity: 0;
}
.enter-to-right {
    animation: animate-in-to-right 600ms;
}
.exit-to-right {
    animation: animate-out-to-right 600ms;
}
.exit-to-right .carousel-caption {
    opacity: 0;
}
.carousel-slider-wrapper-main {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}
.carousel-slider-wrapper-main * {
    box-sizing: border-box;
}
.carousel-slider-wrapper-main .carousel-slide {
    background-color: #fff;
    margin: 0 auto;
    display: none;
    min-width: 100%;
    text-align: center;
  
    
}
.carousel-slider-wrapper-main .carousel-slide.swipe {
    user-select: none;
    pointer-events: none;
}
.carousel-slider-wrapper-main .carousel-slide.active-slide {
    display: block;
    /* background-color: #f3f3f3; */
    background: transparent;
    /* margin-top: 60px; */
}
.carousel-slider-wrapper-main .carousel-slide.active-slide.next-active-slide {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel-slider-wrapper-main .carousel-slide.active-slide img {
    width: 100%;
    display: block;
}
.carousel-slider-wrapper-main .carousel-slide.active-slide .carousel-caption {
    position: absolute;
    left: 0;
    bottom: 50%;
    z-index: 10;
    color: #fff;
}
.carousel-slider-wrapper-main .carousel-slide.active-slide .carousel-caption .carousel-caption-title, .carousel-slider-wrapper-main .carousel-slide.active-slide .carousel-caption .carousel-caption-subtitle {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption-text{
    font-style: normal;
    font-weight: 400;        
    font-size: 23px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #43555A;
    /* width: 700px; */
    /* margin-top: 60px; */

}
.carousel-slider-wrapper-main .carousel-slide.active-slide .carousel-caption .carousel-caption-title {
    margin: 0 0 5px;
}
.carousel-slider-wrapper-main .carousel-slide.active-slide .carousel-caption .carousel-caption-subtitle {
    margin: 0;
}
.carousel-slider-wrapper-main .carousel-control {
    position: absolute;
    top: 50%;
    left: 0;
    width: 65px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    z-index: 1;
}
.carousel-slider-wrapper-main .carousel-control .left-triangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 35px solid #fff;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: -1px;
    cursor: initial;
    transform: translateY(-50%);
}
.carousel-caption-name{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    font-family: poppins;
    line-height: 45px;
    color: #092A35;
    margin: 10px 0;
}
.carousel-caption-position{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-family: Inter;
    line-height: 22px;
    color: #6E7E83;
    margin: 10px 0;
}


.carousel-slider-wrapper-main .carousel-control .right-triangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 35px solid #fff;
    border-bottom: 30px solid transparent;
    position: absolute;
    right: -1px;
    cursor: initial;
    transform: translateY(-50%);
}
.carousel-slider-wrapper-main .carousel-control.carousel-left-arrow button {
    position: absolute;
    left: -1px;
    transform: translateY(-50%);
}
.carousel-slider-wrapper-main .carousel-control.carousel-right-arrow {
    right: 0;
    left: auto;
}
.carousel-slider-wrapper-main .carousel-control.carousel-right-arrow button {
    position: absolute;
    right: -1px;
    transform: translateY(-50%);
}
.carousel-slider-wrapper-main .carousel-control button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    height: 30px;
}
.carousel-slider-wrapper-main .carousel-control button.padding-left-15 {
    padding-left: 15px;
}
.carousel-slider-wrapper-main .carousel-control button.padding-right-15 {
    padding-right: 15px;
}
.carousel-slider-wrapper-main .carousel-control button svg {
    width: 15px;
    opacity: 0.5;
    cursor: pointer;
}
.carousel-slider-wrapper-main .carousel-control button svg:hover {
    opacity: 0.9;
}
.carousel-slider-wrapper-main .carousel-control button i {
    opacity: 0.5;
    cursor: pointer;
    color: #000;
    font-size: 28px;
}
.carousel-slider-wrapper-main .carousel-control button i:hover {
    opacity: 1;
}
.carousel-slider-wrapper-main .carousel-indicators {
    position: absolute;
    bottom: 10px;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}
.carousel-slider-wrapper-main .carousel-indicators.position-left {
    left: 35px;
}
.carousel-slider-wrapper-main .carousel-indicators.position-right {
    right: 35px;
}
.carousel-slider-wrapper-main .carousel-indicators.position-center {
    left: 50%;
    transform: translateX(-50%);
}
.carousel-slider-wrapper-main .carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--indicatorsColor);
    border-radius: 10px;
    opacity: 1;
}
.carousel-slider-wrapper-main .carousel-indicators li:hover {
    background-color: var(--indicatorsColor);
    opacity: 0.7;
}
.carousel-slider-wrapper-main .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: var(--indicatorsColor);
    cursor: initial;
    opacity: 1;
}
.carousel-caption-style {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%)

}
img{
    border-radius: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .carousel-slider-wrapper-main .carousel-slide.active-slide .carousel-caption {
        left: 65px;
        right: 65px;
        border-radius: 0;
   }
    .carousel-slider-wrapper-main .carousel-control .left-triangle {
        border-top: 50px solid transparent;
        border-left: 65px solid #fff;
        border-bottom: 50px solid transparent;
   }
    .carousel-slider-wrapper-main .carousel-control .right-triangle {
        border-top: 50px solid transparent;
        border-right: 65px solid #fff;
        border-bottom: 50px solid transparent;
   }
    .carousel-slider-wrapper-main .carousel-control button {
        height: 50px;
   }
    .carousel-slider-wrapper-main .carousel-control button svg {
        width: 25px;
   }
    .carousel-slider-wrapper-main .carousel-control button i {
        font-size: 20px;
   }
    .carousel-slider-wrapper-main .carousel-indicators.position-left {
        left: 65px;
   }
    .carousel-slider-wrapper-main .carousel-indicators.position-right {
        right: 65px;
   }
    .carousel-slider-wrapper-main .carousel-indicators li {
        width: 10px;
        height: 10px;
   }
    .carousel-slider-wrapper-main .carousel-indicators li.active {
        width: 12px;
        height: 12px;
   }
}
@media (min-width: 992px) {
    .carousel-slider-wrapper-main .carousel-slide.exit-to-left .carousel-caption, .carousel-slider-wrapper-main .carousel-slide.exit-to-right .carousel-caption {
        opacity: 1;
   }
}



@media only screen and (max-width: 1634px) and (min-width: 1400px) {
    .carousel-slider-wrapper-main .carousel-slide.active-slide {
        display: block;
        /* background-color: #f3f3f3; */
        background: transparent;
        margin-top: 10px;
    }
    .carousel-caption-text{
        font-style: normal;
        font-weight: 400;        
        font-size: 20px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #43555A;
    }
    .carousel-caption-name{
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 45px;
        color: #092A35;
        margin: 10px 0;
    }
    .carousel-caption-position{
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #6E7E83;
        margin: 10px 0;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1399px) {
    .carousel-slider-wrapper-main .carousel-slide.active-slide {
        display: block;
        /* background-color: #f3f3f3; */
        background: transparent;
        margin-top: 10px;
    }
    .carousel-slider-wrapper-main {
        width: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        margin-top: 50px;
    }
    .carousel-caption-text{     
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #43555A;
        width: 480px;
    }
    .carousel-caption-name{
        font-size: 22px;
        line-height: 25px;
        color: #092A35;
        margin: 5px 0;
    }
    .carousel-caption-position{
        font-size: 14px;
        line-height: 12px;
        color: #6E7E83;
        margin: 5px 0;
    }
}


@media only screen and (min-width: 310px) and (max-width:320px) {
    .carousel-caption-text{     
        font-size: 9px;
        line-height: normal;
        width: 230px;
       margin: 30px 0 0 0;
    }
    .carousel-caption-name{
        font-size: 11px;
        line-height: normal;
        margin: 5px 0;
    }
    .carousel-caption-position{
        font-size: 8px;
        line-height: normal;
        margin: 5px 0;
    }
}

@media only screen and (min-width:330px) and (max-width: 375px) {
    .carousel-caption-text{     
        font-size: 9px;
        line-height: normal;
        width: 230px;
        margin: 40px 0 0 0;
        /* margin: -30px 0 0 200px; */
    }
    .carousel-caption-name{
        font-size: 13px;
        line-height: normal;
        margin: 5px 0;
    }
    .carousel-caption-position{
        font-size: 8px;
        line-height: normal;
        margin: 5px 0;
    }
}

@media only screen and  (min-width:385px) and (max-width: 426px) {
    .carousel-caption-text{     
        font-size: 10px;
        line-height: normal;
        width: 240px;
        margin: 40px 0 0 0;
        /* margin: -30px 0 0 200px; */
    }
    .carousel-caption-name{
        font-size: 11px;
        line-height: normal;
        margin: 5px 0;
    }
    .carousel-caption-position{
        font-size: 9px;
        line-height: normal;
        margin: 5px 0;
    }
}

@media only screen and  (min-width:427px) and (max-width: 769px) {
    .carousel-caption-text{     
        font-size: 12px;
        line-height: normal;
        width: 340px;
        margin: 100px 0 0 0;
        /* margin: -30px 0 0 200px; */
    }
    .carousel-caption-name{
        font-size: 11px;
        line-height: normal;
        margin: 5px 0;
    }
    .carousel-caption-position{
        font-size: 9px;
        line-height: normal;
        margin: 5px 0;
    }
}